@font-face {
    font-family: CCodeGS1D_S3_Trial;
    src: url("fonts/ConnectCodeGS1D_S3_Trial.woff") format("woff");
  }

.GS1Databar14 {width: 5in}
.barcode {font-weight: normal; font-style: normal; line-height:normal; font-family: 'CCodeGS1D_S3_Trial', sans-serif; font-size: 32px}
.barcode_text {font-weight: normal; font-style: normal; line-height:normal; font-family: sans-serif; font-size: 18px}