@font-face {
    font-family: CCodeMSI_S3_Trial;
    src: url("fonts/ConnectCodeMSI_S3_Trial.woff") format("woff");
  }

.ModifiedPlessy {width: 5in}
.barcode {font-weight: normal; font-style: normal; line-height:normal; font-family: 'CCodeMSI_S3_Trial', sans-serif; font-size: 32px}
.barcode_text {font-weight: normal; font-style: normal; line-height:normal; font-family: sans-serif; font-size: 28px}